// @theme: default

.page-header {
    position: relative;
}
.customLogo{
    padding: 5px 0 5px;
.logo {
    display: block;
    //width: 134px;
    //height: 36px;
    //text-indent: -9999px;
    width: 130px;
    height: 39px;
    white-space: nowrap; 
    margin-left: 10px;
    float: left;
}
}