{% block _middle_bar_widget %}
{% endblock %}

{% block _middle_bar_center_widget %}
{% endblock %}

{% block _middle_bar_search_widget %}
    {% set attr = attr|merge({
        class: attr.class|default('') ~ " search-widget-wrap"
    }) %}

    {% set dom_relocation_options =  {
        responsive: [
            {
                viewport: {
                    maxScreenType: 'tablet',
                },
                moveTo: "[data-header-row-search-container]"
            }
        ]
    }|json_encode %}

   <div class="customSearch shown-on-desktop"> 
     <div class="header-row__container">
            <button class="header-row__trigger" data-toggle="dropdown">
        <span class="nav-trigger__icon nav-trigger__icon--transparent nav-trigger__icon--large">
            <span class="fa-search fa--gray fa--no-offset"></span>
        </span>
    </button>
    
    <div class="header-row__toggle" data-header-row-toggle="">
            <div class="header-row__dropdown">
        <div data-header-row-search-container=""><form id="oro_website_search_search"
               action="{{ url('oro_product_frontend_product_search') }}"
               method="GET"
               novalidate="novalidate"
               data-dom-relocation
               data-dom-relocation-options="{{ dom_relocation_options }}"
               class="search-widget"
            >
            <input class="search-widget__input input input--full" type="text" placeholder="{{ 'oro.website_search.search_field_placeholder'|trans({}, translation_domain) }}" value="" name="search"/>
            <button name="oro_website_search_search_button" class="search-widget__submit" type="submit">
                <i class="fa-search"></i>
            </button>
        </form></div>
    </div>

    </div>

    </div>
</div>
{% endblock %}
