{% block _quick_access_menu_widget %}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' quick-access',
        'data-dom-relocation': '',
        'data-dom-relocation-options': {
            responsive: [
                {
                    viewport: {
                        maxScreenType: 'tablet',
                    },
                    moveTo: '[data-main-menu-extra-container]'
                }
            ]
        }
    }) %}
    {% for child in item.children %}
        {% if child.displayed and child.extras.isAllowed %}
            {% if child.name == 'orders' %}
                {% set badgeClass = 'quick-access__icon--light' %}
                {% set iconClass = 'fa-clipboard' %}
            {% elseif child.name == 'quotes' %}
                {% set badgeClass = '' %}
                {% set iconClass = 'fa-tags' %}
            {% else %}
                {% set badgeClass = 'quick-access__icon--dark' %}
                {% set iconClass = 'fa-bolt' %}
            {% endif %}

            <li class=" topbar-navigation__item">
                <a class=" topbar-navigation__link"  href="{{ child.uri }}">
                    {% set label = child.extras.custom is defined and child.extras.custom == true ? child.label : child.label|trans %}

                    <i class="{{ iconClass }}"></i> {{ label }}
                </a>
            </li>
        {% endif %}
    {% endfor %}

{% endblock %}
